body{
  margin: 0;
	padding: 0;
	border: 0;
  height:100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f7efdf;
}

/*Navigation Tab styles*/

#navbar{
  background-color: #182528;
  color: white;
  list-style-type: none;
  height: 100vh;
  padding: 0;
  position: fixed;
}

#navbar ul{
  list-style: none;
  padding: 0;
  margin-top: 25px;
}

#navbar ul a{
  text-decoration: none;
}

#navbar ul li{
  background: #182528; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1c292c , #182528); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1c292c , #182528); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1c292c , #182528); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1c292c , #182528); /* Standard syntax */
  height: 60px;
  text-align: right;
  padding-right: 20px;
  font-size: 18px;
  line-height: 60px;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}


#navbar ul li:hover{
  cursor:pointer;
  background: #f7c04b;
  color:#182528;
}

#navbar ul .active li{
  cursor:pointer;
  background: #f7c04b;
  color:#182528;
}

#navbar a{
  color: #f7c04b;
  -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

#profilePic {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#infoUser{
  font-size: 12px;
  text-align: right;
  padding: 0;
}

/*Events Page Styles */

#preContentEvent{
  background-image: url('http://lorempixel.com/400/400/food/'); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 1;
  color: #f7efdf;
}

@-webkit-keyframes moveUp {
  0% {
    top: 75px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    top: 75px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

#preContentEvent:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
#preContentEvent:hover:after{
  background: rgba(0, 0, 0, 0.4);
}

#preContentTopDiv{
  position: relative;
  z-index: 2;
  height: 31%;
}

#profilePicEvent{
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#ownerPic{
  text-align: right;
  padding-right: 5px;
  padding-top: 20px;
}

#ownerInfo{
  color: white;
  font-size: 12px;
  text-align: right;
  padding-top: 23px;
  padding-right: 0;
}

#dateEventInfo{
  color: white;
  text-align: left;
  padding-top: 15px;
}
#dateEvent{
  font-size: 17px;
}

#preContentCenterDiv{
  position: relative;
  z-index: 2;
  height: 48%;
}

#preContentBottomDiv{
  position: relative;
  z-index: 2;
  height: 20%;
}

#titleEvent{
  color:#f7c04b;
  font-size: 19px;
}

#descriptionEvent{
  color: white;
  font-size: 14px;
}

.glyphicon-star{
  color: white;
}

.full{
  color:#f7c04b;
}

#dateOptions{
  font-size:13px;
}

#attendeesNumber{
  font-size: 13px;
}


/*Events Popup Page Styles */


.modal-content{
  border-radius: 0;
}

#popupTopDivEvent{
  background-image: url('http://lorempixel.com/400/400/food/'); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 240px;
  position: relative;
  z-index: 1;
  color: #f7efdf;
}

#popupTopDivEvent:after {
  content: " ";
  z-index: 1;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

#datePopupEventInfo{
  color: white;
  text-align: left;
  position: relative; 
  z-index: 2; 
  padding-top: 40px; 
  padding-left: 40px;
}

#dateEventPopup{
  font-size: 15px;
}

#dateOptionsPopup{
  font-size:13px;
}

#profilePicPopupEvent{
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#ownerPicPopup{
    text-align: center;
    padding-top: 20px;
    padding-left: 0;
}

#ownerInfoPopup{
  color: white;
  font-size: 13px;
  text-align: right;
  padding-top: 24px;
  padding-right: 0;
}

#popupDivEvent{
  margin-top: 2px;
}

#titleEventPopup{
  color:#f7c04b;
  font-size: 19px;
}

#descriptionEventPop{
  color: white;
  font-size: 13px;
}

#popupEventDivLeft{
  color: white;
  text-align: left; 
  padding-top: 40px; 
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 100%;
}

#popupEventDivRight{
  color: white;
  text-align: left; 
  padding-top: 40px; 
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 100%;
}

#attendeeInfo {
  font-size: 11px;
  text-align: center;
  padding: 0;
}

#attendeePicPopupEvent{
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#popupUserLink:hover #attendeeName{
  text-decoration: underline;
}

#myLink:hover #myName{
  text-decoration: underline;
}

/*New Event Page Styles */

#categoryContainer{
  padding-left: 15px;
}

#category{
  background: transparent;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

#category:hover{
  background: #f7c04b; 
}


input[type="checkbox"]:checked + label {
    background: #f7c04b;
}

#dishTextBox{
  width: 100%;
  background: #f7efdf;
  border: solid 1px #182528;
  padding-left: 10px;
  padding-right: 10px;
}

#dishTextBox:focus {outline: none; }

.slide {
    -webkit-animation: slide 0.5s forwards;
    -moz-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
      margin-left:0;
    }
}

@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
      margin-left:0;
    }
}

#newEventContainer{
  padding:0; 
  margin-left: 16.69%;
  min-height: 100vh; 
  background: #f7efdf; 
  position: absolute;
}

#divIcons{
  padding-left:50px; 
  padding-top:50px; 
  padding-right: 50px;
}

#newEventDescription{
  border: solid 2px #f7c04b; 
  margin-top: 50px; 
  border-radius: 8px; 
  margin-left: 40px; 
  margin-right: 40px;
}