body{
  margin: 0;
	padding: 0;
	border: 0;
  height:100%
}

#navbar{
  background-color: #030117;
  color: white;
  list-style-type: none;
  height: 100vh;
}

#navbar ul{
  list-style: none;
}

#navbar a{
  background-color: #030117;
  color: white;
}

