<div class="modal-content">
    <div class="modal-header">
    <button type="button" ng-click="close()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Register</h4>
    </div>
    <div class="modal-body">
        <form ng-submit="onSubmit()">
            <div class="form-group">
            <label for="name">Full name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="credentials.name">
            </div>
            <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
            </div>
            <button type="submit" class="btn btn-default">Register!</button>
        </form>
    </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-default">Register!</button>
    </div>
</div>